<div class="row" style="margin-top: 20px">
  <table class="table table-striped">
    <tr><th>Started</th><th>Duration</th><th>Notes</th><th>Bottle</th></tr>
    <% current_user.feed_sessions.where("ended_at IS NOT NULL").order("started_at DESC").all.each do |feed_session| %>
      <tr>
        <td><%= pretty_date(feed_session.started_at) %></td>
        <td><%= Time.at(feed_session.ended_at - feed_session.started_at).utc.strftime("%H:%M:%S") %></td>
        <td><%= feed_session.note %></td>
        <td><%= feed_session.bottle? %></td>
      </tr>
    <% end %>
  </table>
</div>