<%= simple_form_for @kick_session do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <div class="text-center">
    <%= f.button :submit, :value => "Start kicking", :class => "btn-primary btn-lg" %>
  </div>
<% end %>

<%= render 'previous' %>